
.login-wrapper {
    display: flex;
    flex-direction: column;
     /* background-color: rgb(241, 229, 217);  */

  }

 .box
{
    background-color: rgb(226, 226, 221);
    border-radius: 20pt;
    width: 500px;
  height: 400px;
  padding: 50px;
   
}
.btn-block
{
   
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
}
input {
    width:100%;
    border-radius: 20pt;
     font-size: medium;
  }  
 
