<!-- <highcharts-chart 
  [Highcharts]="Highcharts" 
  [constructorType]="'stockChart'" 
  [options]="chartOptions">
</highcharts-chart> -->
<!-- <highcharts-chart
   [Highcharts] = "highcharts" 
   [options] = "chartOptions" 
   style = "width: 100%; height: 400px; display: block;">
</highcharts-chart> -->

<div class="chartContainer">
    <ngx-charts-pie-chart 
    [customColors]="customColors"
       [results]="ngxchartdata"
       [legend]="true"
       [labels]="true" >
   </ngx-charts-pie-chart> 
   </div>
