<!-- <div class="chartContainer">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"></highcharts-chart>
     </div> 
     <div class="chartContainer">
        <canvas
         baseChart
         [data]="this.chart"
         [type]="'line'"
         [options]="chartOptions"
       >
       </canvas> 
      </div>  -->
       <div class="chartContainer">
       <ngx-charts-line-chart
       [results]="ngxchartdata"
       [xAxis]="true"
       [yAxis]="true"
       [showGridLines]="true">
     </ngx-charts-line-chart>
     </div> 
     <!-- <div class="chartContainer">
     <ngx-charts-heat-map

  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [results]="ngxchartdata"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-heat-map>
</div> -->